.rollIn {
  transform: translateX(0px);
  opacity: 1;
  animation: rollIn 1s linear;
}
@keyframes rollIn {
  0% {
    transform: translateX(-1000px) rotate(-360deg);
    opacity: 0;
  }
  1% {
    transform: translateX(-1000px) rotate(-360deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}

.rollOut {
  transform: translateX(1000px);
  opacity: 0;
  animation: rollOut 1s linear;
}
@keyframes rollOut {
  0% {
    transform: translateX(0px) rotate(-360deg);
    opacity: 1;
  }
  99% {
    transform: translateX(1000px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px) rotate(0deg);
    opacity: 0;
  }
}

.pointOpacityIn {
  opacity: 1;
  animation: pointOpacityIn 1.5s linear;
}
@keyframes pointOpacityIn {
  0% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lineOpacityIn {
  animation: lineOpacityIn 2s linear;
}
@keyframes lineOpacityIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lineRotateIn {
  transform: rotate(-90deg) scale(1);
  animation: lineRotateIn 3s linear;
}
@keyframes lineRotateIn {
  0% {
    transform: rotate(0deg) scale(0);
  }
  67% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(-90deg) scale(1);
  }
}
@keyframes lineRotateInSm {
  0% {
    transform: rotate(0deg) scale(0);
  }
  67% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(105deg) scale(1);
  }
}
@keyframes lineRotateInLg {
  0% {
    transform: rotate(0deg) scale(0);
  }
  67% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(120deg) scale(1);
  }
}

.circleRotateIn {
  transform: rotate(90deg);
  animation: circleRotateIn 3s linear;
}
@keyframes circleRotateIn {
  0% {
    transform: rotate(0deg);
  }
  67% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes circleRotateInSm {
  0% {
    transform: rotate(0deg);
  }
  67% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-105deg);
  }
}
@keyframes circleRotateInLg {
  0% {
    transform: rotate(0deg);
  }
  67% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-120deg);
  }
}

@media (min-width: 640px) {
  .lineRotateIn {
    transform: rotate(105deg) scale(1);
    animation: lineRotateInSm 3s linear;
  }

  .circleRotateIn {
    transform: rotate(-105deg);
    animation: circleRotateInSm 3s linear;
  }
}

@media (min-width: 1024px) {
  .lineRotateIn {
    transform: rotate(120deg) scale(1);
    animation: lineRotateInLg 3s linear;
  }

  .circleRotateIn {
    transform: rotate(-120deg);
    animation: circleRotateInLg 3s linear;
  }
}
