.rollIn {
  transform: translateX(0px);
  opacity: 1;
  animation: rollIn 1s linear;
}
@keyframes rollIn {
  0% {
    transform: translateX(-640px) rotate(-360deg);
    opacity: 0;
  }
  1% {
    transform: translateX(-640px) rotate(-360deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes rollInSm {
  0% {
    transform: translateX(-1000px) rotate(-360deg);
    opacity: 0;
  }
  1% {
    transform: translateX(-1000px) rotate(-360deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}

.rollOut {
  transform: translateX(640px);
  opacity: 0;
  animation: rollOut 1s linear;
}
@keyframes rollOut {
  0% {
    transform: translateX(0px) rotate(-360deg);
    opacity: 1;
  }
  99% {
    transform: translateX(640px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(640px) rotate(0deg);
    opacity: 0;
  }
}
@keyframes rollOutSm {
  0% {
    transform: translateX(0px) rotate(-360deg);
    opacity: 1;
  }
  99% {
    transform: translateX(1000px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px) rotate(0deg);
    opacity: 0;
  }
}

.pointOpacityIn {
  opacity: 1;
  animation: pointOpacityIn 1.5s linear;
}
@keyframes pointOpacityIn {
  0% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lineOpacityIn {
  animation: lineOpacityIn 2s linear;
}
@keyframes lineOpacityIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lineRotate1And2,
.lineRotate3And4 {
  transform: rotate(-90deg) scale(1);
  animation: lineRotate 3s linear;
}
@keyframes lineRotate {
  0% {
    transform: rotate(0deg) scale(0);
  }
  67% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(-90deg) scale(1);
  }
}
@keyframes lineRotateSm {
  0% {
    transform: rotate(0deg) scale(0);
  }
  67% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(105deg) scale(1);
  }
}
@keyframes lineRotate1And2Lg {
  0% {
    transform: rotate(0deg) scale(0);
  }
  67% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(120deg) scale(1);
  }
}
@keyframes lineRotate3And4Lg {
  0% {
    transform: rotate(0deg) scale(0);
  }
  67% {
    transform: rotate(0deg) scale(0);
  }
  100% {
    transform: rotate(-120deg) scale(1);
  }
}

.circleRotate1And2,
.circleRotate3And4 {
  transform: rotate(90deg);
  animation: circleRotate 3s linear;
}
@keyframes circleRotate {
  0% {
    transform: rotate(0deg);
  }
  67% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes circleRotateSm {
  0% {
    transform: rotate(0deg);
  }
  67% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-105deg);
  }
}
@keyframes circleRotate1And2Lg {
  0% {
    transform: rotate(0deg);
  }
  67% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-120deg);
  }
}
@keyframes circleRotate3And4Lg {
  0% {
    transform: rotate(0deg);
  }
  67% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(120deg);
  }
}

@media (min-width: 640px) {
  .rollIn {
    transform: translateX(0px);
    opacity: 1;
    animation: rollInSm 1s linear;
  }

  .rollOut {
    transform: translateX(1000px);
    opacity: 0;
    animation: rollOutSm 1s linear;
  }

  .lineRotate1And2,
  .lineRotate3And4 {
    transform: rotate(105deg) scale(1);
    animation: lineRotateSm 3s linear;
  }

  .circleRotate1And2,
  .circleRotate3And4 {
    transform: rotate(-105deg);
    animation: circleRotateSm 3s linear;
  }
}

@media (min-width: 1024px) {
  .lineRotate1And2 {
    transform: rotate(120deg) scale(1);
    animation: lineRotate1And2Lg 3s linear;
  }

  .lineRotate3And4 {
    transform: rotate(-120deg) scale(1);
    animation: lineRotate3And4Lg 3s linear;
  }

  .circleRotate1And2 {
    transform: rotate(-120deg);
    animation: circleRotate1And2Lg 3s linear;
  }

  .circleRotate3And4 {
    transform: rotate(120deg);
    animation: circleRotate3And4Lg 3s linear;
  }
}
