@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
}

.masthead-ring-rotate {
  animation: spin 10s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-roll-left-in {
  transform: translateX(0px);
  animation: rollLeftIn 1s linear;
}
@keyframes rollLeftIn {
  from {
    transform: translateX(-1000px) rotate(-360deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
  }
}

.carousel-roll-left-out {
  transform: translateX(-1000px);
  animation: rollLeftOut 1s linear;
}
@keyframes rollLeftOut {
  from {
    transform: translateX(0px) rotate(360deg);
  }
  to {
    transform: translateX(-1000px) rotate(0deg);
  }
}

.carousel-roll-right-out {
  transform: translateX(1000px);
  animation: rollRightOut 1s linear;
}
@keyframes rollRightOut {
  from {
    transform: translateX(0px) rotate(-360deg);
  }
  to {
    transform: translateX(1000px) rotate(0deg);
  }
}
