@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden font-inter;
}

.masthead-ring-rotate {
  animation: spin 10s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-roll-left-in {
  transform: translateX(0px);
  animation: rollLeftIn 1s linear;
}
@keyframes rollLeftIn {
  from {
    transform: translateX(-1000px) rotate(-360deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
  }
}

.carousel-roll-right-out {
  transform: translateX(1000px);
  animation: rollRightOut 1s linear;
}
@keyframes rollRightOut {
  from {
    transform: translateX(0px) rotate(-360deg);
  }
  to {
    transform: translateX(1000px) rotate(0deg);
  }
}

.grow-in {
  transform: scale(1);
  animation: growIn 1s linear;
}
@keyframes growIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.grow-out {
  transform: scale(0);
  animation: growOut 1s linear;
}
@keyframes growOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.chamfer-right-in {
  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 100%, 0 100%);
  transform: translateX(0px);
  animation: chamferRightIn 1s linear;
}
@keyframes chamferRightIn {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}

.chamfer-right-out {
  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 100%, 0 100%);
  transform: translateX(-1000px);
  animation: chamferRightOut 1s linear;
}
@keyframes chamferRightOut {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-1000px);
  }
}

.chamfer-left-in {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60px 100%);
  transform: translateX(0px);
  animation: chamferLeftIn 1s linear;
}
@keyframes chamferLeftIn {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0px);
  }
}

.chamfer-left-out {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60px 100%);
  transform: translateX(1000px);
  animation: chamferLeftOut 1s linear;
}
@keyframes chamferLeftOut {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(1000px);
  }
}

.flawed-left-in {
  transform: translateX(0px);
  animation: flawedLeftIn 1s linear;
}
@keyframes flawedLeftIn {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}

.flawed-left-out {
  transform: translateX(-1000px);
  animation: flawedLeftOut 1s linear;
}
@keyframes flawedLeftOut {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-1000px);
  }
}

.flawed-right-in {
  transform: translateX(0px);
  animation: flawedRightIn 1s linear;
}
@keyframes flawedRightIn {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0px);
  }
}

.flawed-right-out {
  transform: translateX(1000px);
  animation: flawedRightOut 1s linear;
}
@keyframes flawedRightOut {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(1000px);
  }
}
