@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden font-inter;
}

.flawed-left-in {
  transform: translateX(0px);
  animation: flawedLeftIn 1s linear;
}
@keyframes flawedLeftIn {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}

.flawed-left-out {
  transform: translateX(-1000px);
  animation: flawedLeftOut 1s linear;
}
@keyframes flawedLeftOut {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-1000px);
  }
}

.flawed-right-in {
  transform: translateX(0px);
  animation: flawedRightIn 1s linear;
}
@keyframes flawedRightIn {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0px);
  }
}

.flawed-right-out {
  transform: translateX(1000px);
  animation: flawedRightOut 1s linear;
}
@keyframes flawedRightOut {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(1000px);
  }
}
